<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>欧洲精英汇</title>
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/hm_ozjyh.css">
</head> 
<body> 

<div class="am-header oz-header border-b">
    <div class="am-header-left am-header-nav">
      <a class="icon-back" href="javascript:history.back()"></a>
    </div> 
    <h1 class="am-header-title">全部订单</h1>
</div>

<div class="container">
    <!-- nav -->
    <ul class="am-avg-sm-5 oz-nav">
        <li><a href="order_agent.html?status=0">全部</a></li>
        <li><a href="order_agent.html?status=1">待确认</a></li>
        <li><a href="order_agent.html?status=2">待发货</a></li>
        <li><a href="order_agent.html?status=3">待收货</a></li>
        <li><a href="order_agent.html?status=4">已完成</a></li> 
    </ul>
    
    <!-- 订单列表 -->
    <div class="order-wrap">    
    </div>
</div>                  

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/dropload.min.js"></script>
<script src="../assets/js/template.js"></script> 
<script src="../assets/js/hm_ozjyh.js"></script>


<!-- 代理商 -->
<script type="text/html" id="order-item-agent" >
    {{each listItems as item i}}
    <div class="order-item">
        {{if item.goods_items.length > 0}}
        <a class="am-block" href="javascript:location.href=preUrl('my/order_cart_detail.html?orderId='+ {{item.id}})">
        {{else}}
        <a class="am-block" href="javascript:location.href=preUrl('my/order_detail.html?orderId='+ {{item.id}})">
        {{/if}}
            <div class="order-num">订单号：{{item.trade_no}} 
                {{if item.status == '1'}}
                <span class="am-fr c-red">待确认</span>
                {{else if item.status == '2'}}
                <span class="am-fr c-red">待发货</span>
                {{else if item.status == '3'}}
                <span class="am-fr c-red">待收货</span>
                {{else if item.status == '4'}}
                <span class="am-fr c-red">已完成</span>
                {{/if}}
            </div>
            <ul class="cart-list buy-list">
                {{each item.goods_items as value i}}
                <li>
                    <div class="cart-fr am-cf">
                        <img src="{{value.goods_imgurl}}">
                        <div class="content">
                            <h2 class="am-text-truncate title">{{value.goods_name}}</h2>
                            <div class="size">
                                {{if value.goods_sku_firt != ''}}
                                <span>{{value.goods_sku_firt}}：<b>{{value.goods_sku_firt_name}}</b></span>
                                {{/if}}
                            </div>
                            <div class="price">
                                ￥<span class="am-text-default">{{value.goods_price}}</span>
                                <span class="am-fr j-ku">X<b>{{value.goods_count}}</b></span>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </a>
    </div>
    {{/each}}
</script>

<script type="text/javascript">
    $(function(){
        var ident_type = store.getInfo('ident_type');
        var status = getQueryString('status');

        //判断tab的active状态
        if(status == 0 ){ // 全部
            $('.oz-nav li').eq(0).find('a').addClass('active');
        }else if(status == 1){ // 待确认
            $('.oz-nav li').eq(1).find('a').addClass('active');
        }else if(status == 2){ // 待发货
            $('.oz-nav li').eq(2).find('a').addClass('active');
        }else if(status == 3){ // 待收货
            $('.oz-nav li').eq(3).find('a').addClass('active');
        }else if(status == 4){ // 已完成
            $('.oz-nav li').eq(4).find('a').addClass('active');
        } 


        var token = store.getCookie('token');
        var ident_type = parseInt(store.getInfo('ident_type'));

        var params = {
            token: token,
            status: status,
        }

        if(ident_type == 2) { // 代理商
            params['page'] = 0;
            $('.container').dropload({
                scrollArea: window,
                domDown: {
                    domNoData  : '<div class="dropload-noData">没有更多</div>'
                },
                loadDownFn: function(me){ 
                    postAjax(reqUrl('agent_order_list'), params, true, function(data){
                        console.log(data);
                        if(data.error_code == '200'){
                            window.location.href = preUrl('login/login.html');
                        } else if(data.success) {
                            params['page'] = params.page + 1; 
                            if (data.infor.listItems != null){
                                var arrLen = data.infor.listItems.length;
                            }

                            if(arrLen > 0){
                                //预编译模板
                                var html = template('order-item-agent', data.infor);

                            } else {
                                // 锁定
                                me.lock();
                                // 无数据
                                me.noData();
                            }
                            
                            setTimeout(function(){
                                $('.order-wrap').append(html);

                                // 每次数据加载完，必须重置
                                me.resetload();
                            },500);

                        } else {
                            mask(data.msg);
                        }
                    });
                }
            });
        }

    });
</script>
</body>
</html>

