<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>欧洲精英汇</title>
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/hm_ozjyh.css">
</head> 
<body> 

<div class="am-header oz-header border-b">
    <div class="am-header-left am-header-nav">
      <a class="icon-back" href="javascript:history.back()"></a>
    </div> 
    <h1 class="am-header-title">详情</h1>
</div>

<div class="container" style="padding-bottom: 50px;">
     
    
</div>                  

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/template.js"></script> 
<script src="../assets/js/hm_ozjyh.js"></script>

<!-- 大客户 -->
<script type="text/html" id="order-cont-agent">
    <div class="goods-content">
        {{if status == '2'}}
        <div class="state">待发货！</div> 
        {{else if status == '3'}}
        <div class="state">待收货！</div> 
        {{else if status == '4'}}
        <div class="state">已完成！</div> 
        {{/if}}
    </div>

    <div class="goods-content cart-wrap">
        <div class="other">
            <div class="title">配送方式 <span class="way">荷兰POSTNL快递</span></div>
        </div>
    </div>
    <div class="goods-content cart-wrap">
        <div class="other">
            <ul class="cart-list buy-list">
                <li>
                    <div class="cart-fr am-cf">
                        <img src="{{goods_imgurl}}">
                        <div class="content">
                            <h2 class="am-text-truncate title">{{goods_name}}</h2>
                            <div class="size">
                                {{if goods_sku_firt != ''}}
                                <span>{{goods_sku_firt}}：<b>{{goods_sku_firt_name}}</b></span> 
                                <!-- <span class="am-padding-left">颜色：<b>黑色</b></span> -->
                                {{/if}}
                            </div>
                            <div class="price">
                                ￥<span class="am-text-default">{{goods_price}}</span>
                                <span class="am-fr j-ku">X<b>{{goods_count}}</b></span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="other">
            <div>商品金额： <span class="am-fr">￥{{pay}}</span></div>
            {{if send_pay != '0.00'}}
            <div>运费： <span class="am-fr">￥{{send_pay}}</span></div>
            {{else}}
            <div>运费： <span class="am-fr">包邮</span></div>
            {{/if}}
        </div>
        <div class="other am-cf">
            <div>备注：<span class="am-fr">{{content}}</span></div>
        </div>
    </div>

    <div class="goods-content">
        <div class="other">
            <div class="am-text-xs c-grey">订单号：<span>{{trade_no}}</span></div>
            <div class="am-text-xs c-grey">下单时间：<span>{{order_time}}</span></div>
        </div>
    </div>

    <div class="order-hint">如若付款，请提示客服尽快确认收款<br/> 微信客服：562336523354</div>

    <div class="am-navbar oz-navbar" style="line-height: 34px;">
        <div class="cart-oper">
            <div class="all">
                <div>应付金额：￥<span class="j-total"></span></div>
            </div>
        </div>
        {{if status == '1'}}
        <a class="btn-sm" href="#">取消订单</a>
        {{else if status == '3'}}
        <a class="btn-sm" href="#">确认收货</a>
        {{else if status == '4'}}
        <a class="btn-sm" href="#">删除订单</a>
        {{/if}}
    </div>
</script>

<!-- 代理商 -->
<script type="text/html" id="order-cont-agent">
    <div class="goods-content">
        {{if status == '1'}}
        <div class="state">待确认！ <a href="pay_way.html">付款方式？</a></div> 
        {{else if status == '2'}}
        <div class="state">待发货！</div> 
        {{else if status == '3'}}
        <div class="state">待收货！</div> 
        {{else if status == '4'}}
        <div class="state">已完成！</div> 
        {{/if}}
    </div>

    <div class="goods-content cart-wrap">
        <div class="other">
            <div class="title">配送方式 <span class="way">荷兰POSTNL快递</span></div>
        </div>
        <div class="other">
            <div class="title">收货人信息</div>
            <div class="receiver-info">
                <div class="item">{{contact_name}} <span class="am-padding-left-xl">{{contact_phone}}</span></div>
                <div class="item">{{contact_address}}</div>
                <div class="img-wrap">
                    {{if address_imgurl != ''}}
                    <img src="{{address_imgurl}}">
                    <!-- <img src="../assets/i/c3.jpg"> -->
                    <!-- <img src="../assets/i/c3.jpg"> -->
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="goods-content cart-wrap">
        <div class="other">
            <ul class="cart-list buy-list">
                <li>
                    <div class="cart-fr am-cf">
                        <img src="{{goods_items[0].goods_imgurl}}">
                        <div class="content">
                            <h2 class="am-text-truncate title">{{goods_items[0].goods_name}}</h2>
                            <div class="size">
                                {{if goods_items[0].goods_sku_firt != ''}}
                                <span>{{goods_items[0].goods_sku_firt}}：<b>{{goods_items[0].goods_sku_firt_name}}</b></span> 
                                <!-- <span class="am-padding-left">颜色：<b>黑色</b></span> -->
                                {{/if}}
                            </div>
                            <div class="price">
                                ￥<span class="am-text-default">{{goods_items[0].goods_price}}</span>
                                <span class="am-fr j-ku">X<b>{{goods_items[0].goods_count}}</b></span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="other">
            <div>商品金额： <span class="am-fr">￥{{pay}}</span></div>
            {{if send_pay != '0.00'}}
            <div>运费： <span class="am-fr">￥{{send_pay}}</span></div>
            {{else}}
            <div>运费： <span class="am-fr">包邮</span></div>
            {{/if}}
        </div>
        <div class="other am-cf">
            <div>备注：<span class="am-fr">{{content}}</span></div>
        </div>
    </div>

    <div class="goods-content">
        <div class="other">
            <div class="am-text-xs c-grey">订单号：<span>{{trade_no}}</span></div>
            <div class="am-text-xs c-grey">下单时间：<span>{{order_time}}</span></div>
        </div>
    </div>

    <div class="order-hint">如若付款，请提示客服尽快确认收款<br/> 微信客服：562336523354</div>

    <div class="am-navbar oz-navbar" style="line-height: 34px;">
        <div class="cart-oper">
            <div class="all">
                <div>应付金额：￥<span class="j-total"></span></div>
            </div>
        </div>
        {{if status == '1'}}
        <a class="btn-sm" href="#">取消订单</a>
        {{else if status == '3'}}
        <a class="btn-sm" href="#">确认收货</a>
        {{else if status == '4'}}
        <a class="btn-sm" href="#">删除订单</a>
        {{/if}}
    </div>

</script>


<script type="text/javascript">
    $(function(){
        var token = store.getCookie('token');
        var ident_type = store.getInfo('ident_type');
        var orderId = getQueryString('orderId');

        var params = {
            token: token,
            id: orderId
        }

        if(ident_type == 1) { // 大客户订单详情
            postAjax(reqUrl('mainclient_order_detail_get'), params, true, function(data){
                console.log(data);
                var html = template('order-cont', data.infor[0]);
                $('.container').html(html);
            });
            
        } else if(ident_type == 2) {
            postAjax(reqUrl('agent_order_detail_get'), params, true, function(data){
                console.log(data);
                var html = template('order-cont', data.infor[0]);
                $('.container').html(html);
                var price = parseFloat(data.infor[0].pay);
                var sendPay = parseFloat(data.infor[0].send_pay);

                var total = price + sendPay;
                $('.j-total').html(total.toFixed(2));
            });
        }
        

    });
</script>
</body>
</html> 

